doctype html
html( lang="fr-BE" )
    head
        meta( charset="UTF-8" )/
        title delnatte.be

        meta( name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0" )/

        link( rel="stylesheet", href="assets/styles.min.css" )/

        <!--[if lt IE 9]>
        script( src="http://html5shiv.googlecode.com/svn/trunk/html5.js" )
        <![endif]-->

    body
        main
            h1 delnatte.be

            section.julien
                a( href="http://tibus.be" )
                    figure
                        img( src="assets/julien.jpg", alt="Photo de Julien Delnatte" )/

                    h2 Julien Delnatte

                    p Développeur full-stack #[br/]et électronicien

            section.pierre-antoine
                a( href="http://leny.me" )
                    figure
                        img( src="assets/pierre-antoine.jpg", alt="Photo de Pierre-Antoine Delnatte" )/

                    h2 Pierre-Antoine Delnatte

                    p Développeur web #[br/]&amp; mobile freelance
